<!doctype html>
<title>HMT Escrow</title>
{% block styles %}
    <link rel="stylesheet" href="/css/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/forms.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  {% endblock %}
<nav>
  <h1>HMT Manifest Uploader</h1>
  <ul>
    <li><a href="/" class="nav">Upload Manifest</a></li>
    <li><a href="/view-requests" class="nav">View Labeling Requests</a></li>
  </ul>
</nav>
<section class="container">
{% block content %}
  <h1 class="string">Success Manifest Submitted!</h1>
</div>
{% endblock %}
</section>