<!doctype html>
<title>HMT Escrow</title>
{% block styles %}
    <link rel="stylesheet" href="/css/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/forms.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  {% endblock %}
<nav>
  <h1>HMT Manifest Uploader</h1>
  <ul>
    <li><a href="/" class="nav">Upload Manifest</a></li>
    <li><a href="/view-requests" class="nav nav-active">View Labeling Requests</a></li>
  </ul>
</nav>
<section class="container">
{% block content %}
<div class="formwrapper">
  {% if error %}
  <div class="view-error">
    {{ error }}
  </div>
  {% endif %}
  {% if data %}
  <div class="request-container">
    <h2>Loaded Requests</h2>
    <h3>Highest Bid Price: ${{ highest_bid_meta.highest_bid }}</h3>
    <h3>Tasks at Bid Price: {{ highest_bid_meta.tasks_at_bid }}</h3>
    <table class='view-request'>
      <tr class="view-request__header">
        <td>ID</td>
        <td>Bid Price</td>
        <td>Tasks</td>
      </tr>
    {% for job in data %}
      <tr class="view-request__data">
        <td><a href={{'/view-manifest/' + {{job.job_id}}}>{{job.job_id}}</a></td>
        <td>${{ job.task_bid_price }}</td>
        <td>{{ job.job_total_tasks }}</td>
      </tr>
    {% endfor %}
    </table>
  </div>
  {% endif %}

</div>
{% endblock %}
</section>