<!doctype html>
<title>HMT Escrow</title>
{% block styles %}
    <link rel="stylesheet" href="/css/home.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/forms.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/css/style.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
  {% endblock %}
<nav>
  <h1>HMT Manifest Uploader</h1>
  <ul>
    <li><a href="/" class="nav">Upload Manifest</a></li>
    <li><a href="/view-requests" class="nav nav-active">View Labeling Requests</a></li>
  </ul>
</nav>
<section class="container">
{% block content %}
<div class="formwrapper">
    <div class="form-field">
      <div class="errors-none" id="errors">
      </div>
    </div>
    <div class="form-field">
      <label for="factory_addr">Factory Address</label> 
      <input id="factory_addr" name="factory_addr" required="true" type="text" value="">
    </div>
    <div class="form-field">
      <div class="submit-btn" id="submit-btn">Submit</div>
    </div>
    <table class='view-request' id="table_results">
      <tr class="view-request__header">
        <td>Manifest Url / Hash</td>
        <td>Escrow address</td>
      </tr>
    </table>
</div>
{% endblock %}
<script>
  const { ETHInterface } = require('hmt-escrow-js')
  
  const submit_btn = document.getElementById('submit-btn')
  submit_btn.onclick = function(){
    const factory_addr = document.getElementById('factory_addr').value
    const table = document.getElementById('table_results')

    const errors = document.getElementById('errors')
    if(factory_addr === "") {
      errors.innerHTML="Factory address required"
      errors.classList.add('errors')
    }
    else {
      errors.innerHTML = ""
      errors.classList.remove('errors')
      
      try {
        alert("Wait, loading transactions..")
        const res = await ETHInterface.list_transactions(factory_addr)

        for(let ctr=0; ctr<res.length; ctr++) {
          const elem = res[ctr]
          const tbl_row = document.createElement('tr')
          // Add class
          tbl_row.classList.add('view-request__data')

          // create td children
          const hash_elem = document.createElement('td')
          const escrow_elem = document.createElement('td')

          hash_elem.innerText = elem.url
          escrow_elem.innerText = elem.escrow
          
          // Add URL if it is
          if(elem.is_url) {
            const link_elem = document.createElement('a')
            link_elem.href = "/view-manifest?url=" + elem.url
            link_elem.innerHTML = elem.url
            hash_elem.innerHTML = null

            // Append
            hash_elem.appendChild(link_elem)
          }

          // Add to row element
          tbl_row.appendChild(hash_elem)
          tbl_row.appendChild(escrow_elem)

          // Add to main table
          table.appendChild(tbl_row)
        }
      }
      catch(e) { 
        console.log(e)
        alert("Something went wrong")
      }
    }
  }
</script>
</section>
