body {
  background: #09182b;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align: center;
  color: #ffffff;
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

li {
  text-align: center;
}

h3 {
  margin-block-start: 0em;
  margin-block-end: 0.5em;
}
