<!doctype html>
<title>HMT Escrow</title>
<meta id="json-data" data-json="{{data}}">
{% block styles %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forms.css') }}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
{% endblock %}
<nav>
  <h1>HMT Manifest Uploader</h1>
  <ul>
    <li><a href="{{ url_for('upload') }}" class="nav">Upload Manifest</a></li>
    <li><a href="{{ url_for('view_labeling_requests') }}" class="nav">View Labeling Requests</a></li>
  </ul>
</nav>
<section class="container">
{% block content %}
<div class="formwrapper">
  {% if error %}
  <div class="view-error">
    {{ error }}
  </div>
  {% endif %}
  {% if data %}
  <div class="request-container">
    <pre id="js">  
    </pre>
  </div>
  {% endif %}
</div>
{% endblock %}
<script>
  function syntaxHighlight(json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }
  document.addEventListener('DOMContentLoaded', (event) => {
    var code = document.getElementById('json-data').getAttribute('data-json')
    var code_holder = document.getElementById('js')
    code_holder.innerHTML = syntaxHighlight(code)
});
</script>
</section>